@model UserToReturnDto

<div class="my-3">
    <label asp-for="UserName" class="col-form-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" calss="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" calss="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="LastName" class="col-form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" calss="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Roles" calss="text-danger"></span>

</div>
